/* ============== tous les blocks ==================*/
html, body {
   height: 100%;
   background-color: #FFFFFF;
   border: 0px solid transparent;
   font-size: 16px;
   margin: 0px 0px 0px 0px;
   min-height: 100%;
   padding: 0px 0px 0px 0px;
   width: 100%;
}

#all_block{
	
   height: 100%;
   margin: 0px auto 0px auto;
   min-height: 100%;
   width: 1024px;
}

#menu, #content{
   display: inline-block;
   height: 100%;
   min-height: 100%;
   vertical-align: top;
   padding: 5px 5px 5px 5px;
}

/* ============== header ==================*/
#header {
  clear: left;
  overflow: hidden;
  zoom: 1;
  background: #9c9965;
	
}

/* ============== menu ==================*/
#menu{
   color: #FFFFFF;
   background-color: #CC0000;
   width: 214px;
}

#menu li {
   list-style: none;
}

#menu li a {
   color: #FFFFFF;
}

#menu li a:before {
   content: "> ";
}

#menu li a:hover {
   color: #000000;
}
 
 /* ============== contenue de la page principale ==================*/
#content{
  color: #000000;
   background-color: #FFFFFF;
   width: 596px;
}

/* ============== footer ==================*/
#footer {
	clear: left;
  overflow: hidden;
  zoom: 1;
  background: #9c9965;
}

#header,
#content,
#menu,
#footer {
  padding-bottom:2em;
}

.info{
   font-family: Arial,Helvetica,sans-serif;
   font-size: 14px;
   font-weight: bold
}

/* ============== CSS pour les button ==================*/
.button{
	width: 70px;
	margin: 10px 5px 20px 0px;
}

.label {
	display: inline-block;
	width: 70px;
}
/* ============== ERREUR ==================*/
.erreursHeaders { 
   background: Teal; 
   background-color: #ff6633; 
   color: Snow; 
   font-style: italic; 
   text-align: center 
} 

.erreurClasse { 
   background: MediumTurquoise; 
   background-color: #ffcc66; 
   height: 25px; 
   text-align: center 
} 

.erreurMessage { 
   background: PowderBlue; 
   background-color: #ffcc99; 
   text-align: left 
} 